@model List<CarAccessories.Models.OrderDetails>
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
}

<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/Content/images/banner-07.jpg);">
    <h2 class="l-text2 t-center">
        Cart
    </h2>
</section>

<!-- Cart -->
<section class="cart bgwhite p-t-70 p-b-100">
    <div class="container">
        <!-- Cart item -->
        <div class="container-table-cart pos-relative">
            <div class="wrap-table-shopping-cart bgwhite">
                <form action="/Order/update" method="post">
                    <table class="table-shopping-cart">
                        <tr class="table-head">
                            <th class="column-1"></th>
                            <th class="column-2">Product</th>
                            <th class="column-3">Price</th>
                            <th class="column-4 p-l-70">Quantity</th>
                            <th class="column-5">Total</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="table-row">
                                <td class="column-1">
                                    <div class="cart-img-product b-rad-4 o-f-hidden">
                                        <img src="~/Content/images/images/@item.VendorProduct.Product.Image" alt="IMG-PRODUCT">
                                    </div>
                                </td>
                                <td class="column-2">@item.VendorProduct.Product.Name</td>
                                
                                    <td class="column-3">@item.VendorProduct.Product.Price</td>
                                
                                  
                              
                                <td class="column-4">

                                    <div class="flex-w bo5 of-hidden w-size17">
                                        <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2 but">
                                            <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                        </button>

                                        <input class="size8 m-text18 t-center num-product number" type="number" name="num_product1[]" value="1">

                                        <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2 but2">
                                            <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                </td>
                                <td id="Qunitity" class="column-5"></td>
                            </tr>
                        }
                    </table>
                    <div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">


                        <div class="size15 trans-0-4">
                            <!-- Button -->
                            <button type="submit" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                                Proceed to Checkout
                            </button>
                        </div>
                    </div>
                    <div style="background:yellow;width:150px;height:50px;margin-left:80%" id="total"></div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>


